
.UserPlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1dddd;
    
  }
  
  .UserPlace {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(107, 109, 226);
    background-color: #19d1e2;

  }
  