body {
    margin: 2em;
    padding: 1em;
    color: #fbf9fc;
    background-color: #f0c7d8;
    background-image: url(https://image.cnbcfm.com/api/v1/image/104537965-Nashville_skyline.jpg?v=1539634204);
}